@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #43a047;
    --secoundary-color: #63c200;
    --secoundary-light-color: #92eb21;
    --light-color: #d0fc9d;


    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}



/* -----------------------------
    Setting default attributes
-------------------------------- */
* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.4 !important;
    color: var(--dark-color) !important;
    background-color: var(--white-color) !important;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-tap-highlight-color is a non-standard CSS property that sets the color of the highlight that appears over a link while it's being tapped*/
}

ul {
    list-style: none;
}

img {
    max-width: 100% !important;
    vertical-align: middle !important;
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins' !important;
}

h1 {
    font-size: calc(1.3em + 1vw) !important;
    font-weight: var(fw8) !important;
    line-height: 1 !important;
}

h2 {
    font-size: 2.5em !important;
}

h3 {
    font-size: 1.2em !important;
    font-weight: var(--fw7) !important;
}

/*--------------------------
    REUSABLE SELECTOR
--------------------------*/

.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover {
    color: var(--secoundary-color);
}

.second-links a:hover {
    color: var(--light-text-color);
    width: 100%;
}

.icon-small,
.icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em 0 0;

}

/*--------------------------------------
            Main
--------------------------------------*/
#chkOutContainer{
    padding: 2em;
}
#chkOutContainer .cart-title{
    font-size: 2em;
    font-family: 'poppins';
    font-weight: 800;
    color: var(--primary-color);
}
#chkOutContainer .detail{
    color: #7c899a;
}
.details .row{
    padding: .7em 0;
    font-size: 1.3em;
}
.details .row.total{
    font-weight: var(--fw7);
}
#chkOutTotal{
    display: block;
}
.bought-success{
    display: block;
    max-width: 60%;
    margin: 3em auto;
    border: 2px solid #8e8c8c;
    border-radius: 10px;
    padding: 2em;
}
.bought-success h2{
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}
.bought-success a{
    text-align: center;
    display: block;
}
#cartCheckout .price,
#cartCheckout .qtyItem{
    font-weight: 600;
    color: #0a021c;
}
#cartCheckout .price span,
#cartCheckout .qtyItem span{
    color: rgb(177, 41, 41);
}
@media screen and (max-width: 512px) {
    .bought-success {
        max-width: 90%;
    }
    .bought-success h2{
        font-size: 2em !important;
    }
}





@media screen and (min-width:760px) and (max-width: 1000px) {
    
    .hide{
        display: none;
    }
}