/* Base Value */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@300&family=Mitr:wght@300&family=Nova+Square&family=Rubik:wght@600&display=swap');

:root {
    --primary-color: #43a047;
    --secoundary-color: #63c200;
    --secoundary-light-color: #92eb21;
    --light-color: #d0fc9d;


    --font-small: 13px;
    --font-smaller: 11px;

    --ibm: 'IBM Plex Sans', sans-serif;
    --neue: 'Bebas Neue', sans-serif;
    --nova: 'Nova Square', sans-serif;
    --rubik: 'Rubik', sans-serif;
    --mier: 'Mitr', sans-serif;


}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: white;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: 700;
}

h4 {
    font-size: 1em;
    font-weight: 600;
}





/* Home Page */


/* Header bar */
.logo {
    font-family: var(--rubik);
    font-size: 3em;
    position: relative;
    text-align: start;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-searchbar {
    flex: 1;
    max-width: 30vw;
    text-align: center;
}

.right-icons {
    display: flex;
    align-items: center;
    position: relative;
}

.top-header-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3em;

}

.top-header-icons i {
    font-size: 1.5em;
    font-weight: 600;
}

.top-header-icons:last-child {
    margin-right: 0;
}

.top-header-icons:hover .top-icon i,
.top-header-icons:hover .bottom-title {
    color: var(--secoundary-color);
}

.c-letter {
    font-size: 1.2em;
    position: relative;
    background: linear-gradient(to bottom, var(--primary-color),
            var(--secoundary-light-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    bottom: -10px;
}

.with-search-icon {
    padding-left: 2.5em;
    background-image: url('icons/search-line.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
}

.with-search-icon:focus {
    border-color: #43a047;
    box-shadow: 0 0 0 0.25rem rgba(67, 160, 71, 0.25);
}

.form-control:focus {
    border-color: var(--secoundary-color);
    box-shadow: 0 0 0 0.25rem rgba(105, 234, 112, 0.25);
}

/* Line below Profile button */
.profile-icon:hover .bottom-title::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--secoundary-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(-10%);
}

.hover-box {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    width: 252px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 60;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.profile-icon:hover .hover-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}


.hover-box .title {
    font-size: 20px;
    font-family: var(--rubik);
    font-weight: 400;
}

.box-content {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.box-content a {
    padding: 8px 16px;
    background-color: var(--secoundary-color);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.box-content a:hover {
    background-color: var(--secoundary-light-color);
}

.hr {
    height: 1px;
    background-color: #ccc;
    width: 100%;
}

.my-order span a {
    font-size: large;
    font-weight: 500;
    color: #000000;
}

.my-order span a:hover {
    color: black;
}

/*Banner-items*/
.banner {
    display: flex;
    justify-content: space-between;
    max-width: 1328px;
    position: relative;
    /* background-color: #f8f3f3; */
    padding: 1.2em;
}

.banner .banner-item span {
    font-size: large;
    font-weight: 400;
    cursor: pointer;
}


/* nav banner */
.nav-banner {
    display: flex;
    position: absolute;
    top: 102%;
    width: 100%;
    left: calc((100% - 1328px) / 2);
    background: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    border-style: solid;
    border-color: rgb(215, 215, 224);
    border-width: 0px 0.5px 0.5px;
    box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 4px 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 100;
}
.nav-banner:hover{
    
}
.nav-banner .nav-banner-wrapper {
    max-width: 1328px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-banner .nav-banner-wrapper .nav-banner-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 20px;
    align-self: stretch;
}

.nav-banner-item .odd-child {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.nav-banner-wrapper .even-child {
    background-color: rgb(248, 248, 255);
    border-radius: 8px;
}

.nav-banner-item .list-title {
    color: var(--secoundary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
}

.nav-banner-item .sub-list-item a {
    margin-top: 12px;
    color: rgb(97, 97, 115);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    /* word-spacing: -2px; */
}

.nav-banner-item .sub-list-item a:hover {
    color: rgb(75, 75, 86);
}

.women-ethnic-trigger:hover .nav-banner {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}





/* slider */
.slider {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 100vw;

    /* filter: opacity(10%); */
}

.slider-img {
    max-height: 740px;
    overflow: hidden;
}

.slider-block {
    position: absolute;
    background-image: linear-gradient(to top, rgb(208, 252, 157) 0%, rgba(208, 252, 157, 1) 10%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
    overflow: hidden;
}

.box-info {
    z-index: 5;
    /* position: absolute; */
    top: 80%;
    gap: 10px;
    margin: 0 auto;
}

.box-wrapper {
    background-color: white;
    position: relative;
    /* max-width: 210px; */
    height: 370px;
    padding: 1.3em;
    margin: 1em;
    width: calc((100% - ( 8 * 16px )) / 4);
}

.box-img {
    display: block;
    margin: 0 auto;
    max-height: 290px;
}

.box-wrapper .box-title {
    font-family: sans-serif;

}

.box-wrapper a {
    color: rgb(118, 183, 208);
    font-size: var(--font-small);
    font-weight: 500;
    position: relative;
    bottom: 0;
}

.box-wrapper a:hover {
    text-decoration: underline;
}

.box-wrapper .box-img {
    width: 100%;
    vertical-align: middle;
}

.deals-row .deal-off {
    background-color: var(--primary-color);
    line-height: 1.5;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--font-small);
    margin: 2px 1px;
}

.deals-row .deal-off-context {
    color: var(--primary-color);
    line-height: 1.5;
    padding: 3px 5px;
    font-weight: bold;
    font-size: medium;
}

.box-wrapper .box-context {
    text-overflow: ellipsis;
    font-size: 13px;

}


@media (max-width: 1024px) {

    .banner,
    .profile-icon {
        display: none;
    }

    .logo {
        font-size: 2em;
    }
    .box-info{
        position: static;
    }
}

@media (max-width: 600px) {
    .logo {
        font-size: 1.5em;
        
    }
    .box-info{
        position: static;
    }
}